<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/ETM_database?useSSL=true&amp;userUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="lyx123456"/>
            </dataSource>
        </environment>
    </environments>

    <!--Mapper需要在mybatis核心配置文件中注册-->
    <mappers>
        <mapper resource="mapper/InstructorMapper.xml"/>
        <mapper resource="mapper/AdministratorMapper.xml"/>
        <mapper resource="mapper/ManagerMapper.xml"/>
        <mapper resource="mapper/EmployeeMapper.xml"/>
        <mapper resource="mapper/TakesMapper.xml"/>
        <mapper resource="mapper/NecessityMapper.xml"/>
        <mapper resource="mapper/DepartmentMapper.xml"/>
    </mappers>

</configuration>