<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.AdministratorMapper">

    <insert id="addEmployee" parameterType="com.bean.Employee" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <!--主键自增-->
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID() as id;
        </selectKey>
        insert into
            employee
        values
            (#{id}, #{name}, #{gender}, #{age}, #{time}, #{address}, #{telephone}, #{email}, #{dept_id});
    </insert>

    <update id="updateEmployee" parameterType="com.bean.Employee">
        update
            employee
        set
            name = #{name}, address = #{address}, telephone = #{telephone}, email = #{email}
        where
              id = #{id};
    </update>

    <select id="searchEmployee" parameterType="java.lang.String" resultType="com.bean.Employee">
        select
               *
        from
             employee
        where
            name like #{searchString}
           or gender like #{searchString}
           or age like #{searchString}
           or address like #{searchString}
           or telephone like #{searchString}
           or email like #{searchString};
    </select>

    <update id="updateCourse" parameterType="com.bean.Course">
        update
            course
        set
            course_name = #{course_name}, instructor_id = #{instructor_id}, type = #{type}, content = #{content}
        where
            course_id = #{course_id};
    </update>

    <select id="searchCourse" parameterType="java.lang.String" resultType="com.bean.Course">
        select
            *
        from
            course
        where
            course_name like #{searchString}
           or instructor_id like #{searchString}
           or type like #{searchString}
           or content like #{searchString}
           or state like #{searchString};
    </select>

    <select id="queryLog" parameterType="java.lang.String" resultType="com.bean.Log">
        select
            *
        from
            log
        where
            a_id like #{searchString}
           or operation like #{searchString}
           or date like #{searchString};
    </select>

    <insert id="addLog" parameterType="com.bean.Log">
        <selectKey keyProperty="log_id" order="AFTER" resultType="int">
            SELECT LAST_INSERT_ID() as log_id;
        </selectKey>
        insert into
            log
        values
            (#{log_id}, #{a_id}, #{operation}, #{date});
    </insert>

</mapper>