<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ManagerMapper">

    <select id="findManagedEmployee" resultType="com.bean.Employee" parameterType="int">
        select *
        from employee
        where dept = #{deptId};
    </select>

    <insert id="addCourse" parameterType="com.bean.Takes" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <!--主键自增-->
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT  LAST_INSERT_ID() as id;
        </selectKey>
        insert into
            takes
        values
            (#{id}, #{employee_id}, #{course_id}, null, null, null);
    </insert>

    <select id="queryTakesOfEmployee" resultType="com.bean.Takes" parameterType="java.lang.Long">
        select *
        from takes
        where employee_id = #{employeeId};
    </select>

    <update id="transDept">
        update employee
        set dept = #{deptId}
        where id = #{employeeId};
    </update>

    <select id="queryTakesOfCourse" resultType="com.bean.Takes" parameterType="java.lang.Long">
        select *
        from takes
        where course_id = #{courseId};
    </select>

    <select id="queryPassedTakes" resultType="com.bean.Takes">
        select *
        from takes
        where state = "通过";
    </select>

    <!--通过课程号、员工号与state进行分组，输出数量大于2的分组员工号-->
    <select id="queryNotPassed" resultType="map">
        select
            employee_id, course_id, count(id)
        from
            takes
        where state = "不通过" and course_id = #{courseId}
        group by employee_id
        having count(takes.id) > #{notPassedTime};
    </select>

    <select id="findManagerById" parameterType="java.lang.Long" resultType="com.bean.Manager">
        select *
        from manager
        where id = #{id};
    </select>

    <delete id="deleteManager" parameterType="java.lang.Long">
        delete from manager
        where id = #{id};
    </delete>

</mapper>