<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ManagerMapper">

    <insert id="addCourse" parameterType="com.bean.Takes" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <!--主键自增-->
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            SELECT  LAST_INSERT_ID() as id;
        </selectKey>
        insert into
            takes
        values
            (#{id}, #{employee_id}, #{course_id}, null, null, null);
    </insert>

    <select id="queryTakesOfEmployee" resultType="com.bean.Takes" parameterType="java.lang.Long">
        select *
        from takes
        where employee_id = #{employeeId};
    </select>

    <update id="transDept">
        update employee
        set dept_id = #{deptId}
        where employee_id = #{employeeId};
    </update>

    <select id="queryTakesOfCourse" resultType="com.bean.Takes" parameterType="java.lang.Long">
        select *
        from takes
        where course_id = #{courseId};
    </select>

    <select id="queryPassedTakes" resultType="com.bean.Takes">
        select *
        from takes
        where state = "通过";
    </select>

    <!--通过课程号、员工号与state进行分组，输出数量大于2的分组员工号-->
    <select id="queryUotPassedThree" resultType="java.lang.Long">
        select
            employee_id
        from
            takes
        where exists(
            select employee_id
            from takes
            where state = "不通过"
            group by course_id, employee_id, state
            having count(distinct takes.id) > 2)
    </select>

</mapper>