<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.TakesMapper">

    <select id="courseOfEmployee" resultType="java.lang.Long" parameterType="java.lang.Long">
        select course_id
        from takes
        where employee_id = #{employeeId};
    </select>

    <select id="passedCourseOfEmployee" resultType="java.lang.Long" parameterType="java.lang.Long">
        select course_id
        from takes
        where employee_id = #{employeeId} and state = "通过";
    </select>

    <delete id="deleteTakesRecord" parameterType="java.lang.Long">
        delete from takes
        where employee_id = #{employeeId};
    </delete>

    <select id="gradeOfEmployee" parameterType="java.lang.Long" resultType="com.bean.Takes">
        select *
        from takes
        where
              employee_id = #{employeeId}
          and number != null;
    </select>

    <select id="getCourseOfNoNumber" resultType="com.bean.Takes">
        select *
        from takes
        where employee_id = #{employeeId}
            and course_id = #{courseId};
    </select>

</mapper>